<div align="center">

  <mat-form-field style="padding-right: 10px">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedYear" (valueChange)="fetchModels()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedMake" (valueChange)="fetchModels()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let make of makes" [value]="make">{{ make }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-width">
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <div class="custom-width">
    <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [length]="dataSource.length" (page)="onPageChanged($event)">
    </mat-paginator> -->

    <button mat-button [disabled]="!hasPrevious" (click)="onPreviousClick()">Previous</button>
    <button mat-button [disabled]="!hasNext" (click)="onNextClick()">Next</button>
  </div>
</div>